@model IEnumerable<AddressBook.Models.Contact> 
@inject AddressBook.Services.Interfaces.IImageService _imageService

@{
    ViewData["Title"] = "Contacts";
}

<div class="row row-cols-1 row-cols-md-2 border-bottom border-light p-3">
    <div class="col-6">
        <h4 class="text-white">Contacts</h4>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <div class="btn btn-success">
            <a asp-action="Create" class="text-decoration-none text-white">Add Contact</a>
        </div>
    </div>
</div> 
<div class="row row-cols-1 row-cols-md-2">
    <div class="col-4 contact-section">
        <!--Search-->
        <div class="input-group rounded">
            <input id="myInput" onkeyup="myFunction()" type="search" class="search form-control rounded" placeholder="Search Contacts" aria-label="Search"
                   aria-describedby="search-addon"/>
            <span id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
        
        <!--Table-->
        <table class="table border-top border-light">
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                <tr class="pointer" onclick="location.href = '@(Url.Action("Details", "Contacts", new {item.Id}))'">
                    <td>
                        <img class="no-hover img-fluid rounded-circle z-depth-2" width="55" src="@_imageService.ConvertByteArrayToFile(item.ImageData, item.ImageType)" />
                    </td>
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.FullName)</strong><br>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-8 contact-details-section">
      
    </div>
</div>





@section scripts {
    <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <!--search-->
     <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}